@font-face{
	font-family: calibri;
	src: local("fontes/Calibri.ttf"), url("fontes/Calibri.ttf");
}
@font-face{
	font-family: sa;
	src: local("fontes/Sawasdee.ttf"), url("fontes/Sawasdee.ttf");
}
*{
	display: block;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
head{
	display: none;
}
body{
	padding: 0px;
	margin: 0px;
}
input{
	border-radius: 3em;
	min-width: 150px;
}
input[type='text'], input[type="file"]
{
	background: #fff;
	outline: none;
	border: 1px solid #666;
}
input[type='submit']
{
	outline: none;
	border: none;
	cursor: pointer;
	background: #CC0000FF;
	color: #fff;
}
.corpo{
	display: block;
	width: 100%;
	height: auto;
	padding: 1px;
}

.controle_envio{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	text-align: center;
	position: relative;
}
label{
	display: block;
	background: #fff;
	border: 1px solid #666;
	font-family: calibri;
	border-radius: 3em;
	text-align: center;
	cursor: pointer;
}
input[type='file']{
	display: none;
}
.controle{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	background: #fff;
	box-shadow: 3px 3px 10px #999;
	position: relative;
}
.enviado{
	display: block;
	padding: 15px 20px;
	color: #4E9A06FF;
	text-transform: capitalize;
	font-family: calibri;
	width: 400px;
	text-align: center;
	margin: auto;
}

img{
	display: block;
	width: 100%;
	height: 100%;
}
.arquivo_sem_imagem{
	width: 25%;
	height: 70%;
	margin: auto;
}
.arquivo_com_imagem{
	width: 70%;
	height: 70%;
	margin: auto;
	box-shadow: 1px 1px 10px #ddd;
}
.legenda_foto{
	display: block;
	text-align: center;
	font-family: calibri;
}
.acao{
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.7);
	transition: opacity 0.4s;
}
.acao_opacity{
	opacity: 1;
}
.acao_btn{
	display: block;
	text-align: center;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
}
.excluir{background: #CC0000FF}
.baixar{
	background: #4E9A06FF;
	font-family: calibri;
	color: #fff;
}
@media(max-width: 1200px)
{
	body{font-size: 30px;}
	.controle{
		width: 47%;
		height: 350px;
	}
	.acao_btn{
		width: 90%;
		height: 40%;
		padding: 35px 0px;
		margin: 10px 5px;
		font-size: 30px;
		margin-top: 5%;
	}
	.acao_display{
		display: block;
	}
	.enviado{font-size: 60px}
	.controle_envio{
		display: block;
	}
	.controle_envio input[type='text'], .controle_envio label{
		width: 95%;
		height: 100px;
		line-height: 100px;
		padding: 0px 25px;
		margin: auto;
		margin-bottom: 20px;
		font-size: 1.5em;
	}
	.controle_envio input[type='submit']{
		width: 95%;
		height: 100px;
		line-height: 100px;
		padding: 0px 25px;
		margin: auto;
		margin-bottom: 20px;
		font-size: 1.5em;
	}
}
@media(min-width: 1201px)
{
	.controle{
		width: 31%;
		height: 200px;
	}
	.acao_btn{
		width: 50%;
		height: 30%;
		padding: 15px 0px;
		margin: 10px 5px;
		font-size: 16px;
		margin-top: 15%;
	}
	.acao_display{
		display: flex;
	}
	.enviado{font-size: 18px}
	.controle_envio input[type='text'], .controle_envio label{
		width: 45%;
		height: 50px;
		line-height: 50px;
		padding: 0px 15px;
	}
}